*{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  text-align: center;
}

.flex_form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.space{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.tit_area{
  color: black;
}
.tit_area:focus{
  box-shadow: none;
  outline: 0;
}
.txt_area{
  width: 60vw;
  height: 30vh;
  color: black;
}
.black_txt{
  color: black;
}